.container_edit button {
    background-color: var(--color-eighth);
    margin-top: 15px;
    margin-left: 622px;  
    color: var(--color-zero);
}
.container_edit button:active {
    background-color: var(--color-eighth-dark);
}