:root {
    --color-zero: #ffffff;
    --color-zero-dark: #efeeee;
    --color-dark: #000000;

    --color-first: #999999;
    --color-second: #7695EC;
    --color-second-dark: #6c88d6;
    --color-third: rgba(119, 119, 119, 0.8);
    
    --color-fourth: #DDDDDD;
    --color-fifth: #CCCCCC;
    --color-sixth: #777777;

    --color-seventh: #FF5151;
    --color-seventh-dark: #e84848;
    --color-eighth: #47B960;
    --color-eighth-dark: #3c9d51;
     
}