.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_title {
    background-color: var(--color-second);
    width: 800px;
    height: 80px;
    display: flex;
    align-items: center;
}

.container_title h1 {
    padding: 30px;
}

.container_block {
    background-color: var(--color-zero);
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_post {
    width: 752px;
    height: auto;
    background: var(--color-zero);
    box-sizing: border-box;
    border: 1px solid var(--color-first);
    border-radius: 16px;
    margin-top: 25px;
}